.ant-layout-content {
    background: #090925;
}

.ant-layout-sider {
    background: #343654;
}

.ant-menu {
    background: #343654;
    color: white;
}

.logo {
    margin: 16px;
    display: flex;
    justify-content: center;
}
.contentTitle {
    margin: 36px;
    color: white;
}

.searchBox {
    margin: 36px;
    width: 400px;
}

.ant-input {
    background:  #343654;
    border: none;
    color: white;
}