.issueToken-button {
    background: #56E8CD;
    border: none;
    color: white;
    margin: 0 1rem 1rem 1rem;
}
.issueToken-button:hover {
    background: #56E8CD;
    color: white;
}
.issueToken-button:focus {
    background: #56E8CD;
    color: white;
}

.exportToCsv-button {
    background:  #343654;
    border: none;
    color: white;
}
.exportToCsv-button:hover {
    background:  #343654;
    color: white;
}
.exportToCsv-button:focus {
    background:  #343654;
    color: white;
}

