.action-buttons {
    background:  #343654;
    border: none;
    color: white;
}
.action-buttons:hover {
    background:  #343654;
    color: white;
}
.action-buttons:focus {
    background:  #343654;
    color: white;
}
